<%- include('./layouts/header') %>
<%- include('./layouts/utils/navbar') %>
<div class="container my-5">
    <h1 class="text-center">Search Movie</h1>

    <form class="form-group" method="GET" id="search-movie">
        <div class="form-floating mt-4">
            <input type="search" name="search" id="search" class="form-control" placeholder="Search Movie">
            <label for="search">Search Movie</label>
        </div>
    </form>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-6 g-4 mt-3 card-group"
        id="movie-box">
    </div>
</div>

<script>
    $('#search-movie').on('submit', (e) => {
        let movieBox = $('#movie-box');
        movieBox.html('');
        e.preventDefault();
        $.ajax({
            url: `https://www.omdbapi.com`,
            method: 'GET',
            data: {
                apikey: '58e7e859',
                s: $('#search').val(),
            },
            success: (res) => {
                let movies = JSON.parse(JSON.stringify(res));
                if (movies.Response === 'False') {
                    if (movies.Error == 'Incorrect IMDb ID.') {
                        movies.Error = 'Please Input a Valid Key.';
                    }
                    movieBox.prepend(`
                        <div class="alert-message col-12 text-center alert alert-danger alert-dismissible fade-show" data-role="alert">
                            ${$('#search').val()} ${movies.Error}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    `);
                    setTimeout(() => {
                        $('.alert-message').fadeOut();
                    }, 5000);
                } else {
                    movies.Search.forEach(movie => {
                        let element = `
                            <div class="col">
                                <div class="card">
                                    <img src="${movie.Poster}" class="card-img-top" alt="Poster Images">
                                    <div class="card-body">
                                        <h5 class="card-title">${movie.Title}</h5>    
                                    </div>
                                </div>
                            </div>
                        `;
                        movieBox.append(element);
                    });
                }
            }
        });
    });
</script>
<%- include('./layouts/footer') %>